body {
  background-color: #ffffcc;
  margin: 0;
  font-family: 'Noto Serif SC', serif;
}

header {
	height: 200px;
	width: 100%;
	background-color: #a0522d;
	color: #ffffff;
}

header h1 {
	margin-top: 0;
  padding-top: 60px;
  font-family: 'Amatic SC', cursive;
	/* line-height: 100px; */
	/* float: left; */
	font-size: 80px;
	padding-left:30px;
}

header p {
	margin-top: 0;

	font-size: 20px;
	padding-top: 100px;
	text-decoration: none;
	color: #ffffff;

}

div.container{
  margin-top: 20px;
  padding-left: 30px;

}

a {

  padding-left: 0;
	font-size: 20px;
	text-decoration: none;
	color: #000;


}

.imgtakoyaki {
  border-radius: 150px;
  text-align:center;
  margin-top :30px;
}

div.takoyaki {
color:  #000;
font-family: 'Amatic SC', cursive;
text-align:center;
font-size: 50px;
margin: 20;
}
