body {
  background-color: #ffffcc;
}

header {
	height: 150px; 
	width: 100%; 
	background-color: #a0522d; 
	color: #ffffff; 
}

header p {
	line-height: 100px; 
	float: left; 
	font-size: 30px; 
}

div.takoyaki {
color: #ffffff;
background-color: #a0522d;
}
